// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-glvrd {
  padding: @component-padding;
  padding-top: @tab-height;

  .score {
    margin: 0 0 15px;
  }

  .score-value {
    font-size: 36px;
    line-height: 36px;
    float: left;
    padding: 0 10px 0 0;

    &.fine {
      color: #214620;
    }
    &.mediocre {
      color: #979927;
    }
    &.fine {
      color: darkred;
    }
  }
}
